div.content_wrap {width: 600px;height:380px;}
div.content_wrap div.left{float: left;width: 250px;}
div.content_wrap div.right{float: right;width: 340px;}
div.zTreeDemoBackground {width:250px;height:362px;text-align:left;}

ul.ztree {margin-top: 10px; margin-right:10px; margin-bottom: 10px; background: #f0f0f0;width:180px;height:200px;overflow-y:scroll;overflow-x:auto;float: left;}

/* ruler */
div.ruler {height:20px; width:180px; background-color:#f0f0f0; margin-bottom: 5px; cursor: pointer}
div.ruler div.cursor {height:20px; width:30px; background-color:#3C6E31; color:white; text-align: right; padding-right: 5px; cursor: pointer}

/*.ztree * {font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}*/
.ztree li ul{ margin: 0; padding:0}
.ztree li {line-height:20px;}
.ztree li a {width:180px;height:20px;padding-top: 0px;}
.ztree li a:hover {text-decoration:none; background-color: #E7E7E7;}
.ztree li a span.button.switch {visibility:hidden}
.ztree.showIcon li a span.button.switch {visibility:visible}
.ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:20px;}
.ztree li span {line-height:20px;}
.ztree li span.button {margin-top: -7px;}
.ztree li span.button.switch {width: 16px;height: 16px;}

.ztree li a.level0 span {font-size: 100%;font-weight: bold;}
.ztree li span.button {background-image:url("./left_menuLaRuche.png"); *background-image:url("./left_menuLaRuche.gif")}
.ztree li span.button.switch.level0 {width: 20px; height:20px}
.ztree li span.button.switch.level1 {width: 20px; height:20px}
.ztree li span.button.noline_open {background-position: 0 0;}
.ztree li span.button.noline_close {background-position: -18px 0;}
.ztree li span.button.noline_open.level0 {background-position: 0 -18px;}
.ztree li span.button.noline_close.level0 {background-position: -18px -18px;}

ul.ztreeMenuDeroul{background: #DCF1FA;   -webkit-box-shadow: 1px 4px 16px #a3a3a3;
    -moz-box-shadow: 1px 4px 16px #a3a3a3;
    box-shadow: 1px 4px 16px #a3a3a3;
}
.ztreeMenuDeroul li a:hover {background-color: #AFD9EB;}
.ztreeMenuDeroul li a.curSelectedNode {background-color:#7AB8D3;}
